#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --temp: grey;
  --temp2: black;
  --background: #242629;
  --headline: #fffffe;
  --sub-headline: #94a1b2;
  --card-background: #16161a;
  --card-paragraph: #94a1b2;
  --card-heading: #fffffe;
  --header-background: color-mix(in srgb, #7f5af0 20%, rgb(36, 36, 36));
  --highlight: #2cb67d;
  --secondary-highlight: #7f5af0;
  --link: #2cb67d;
  --icon-secondary: #72757e;
  --button: #7f5af0;
  --deleted-main: #972222;
  --deleted-highlight: color-mix(in srgb, var(--deleted-main) 40%, var(--temp));
  --deleted-background: color-mix(
    in srgb,
    var(--deleted-main) 10%,
    var(--card-background)
  );
}

body {
  background-color: var(--background);
}

a:not(.overlayed-link) {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}
a:hover:not(.overlayed-link) {
  color: color-mix(in srgb, var(--link) 60%, white);
  text-decoration: underline;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.pulse-message {
  margin: 0.5rem;
  animation: fadeOut 2s ease-in-out;
}
