#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --temp: grey;
  --temp2: black;
  --background: #242629;
  --headline: #fffffe;
  --sub-headline: #94a1b2;
  --card-background: #16161a;
  --card-paragraph: #94a1b2;
  --card-heading: #fffffe;
  --highlight: #2cb67d;
  --link: #2cb67d;
  --icon-secondary: #72757e;
  --nothing: #7f5af0;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

body {
  background-color: var(--background);
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}
a:hover {
  color: color-mix(in srgb, var(--link) 70%, white);
}
