.article-list {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.article-summary {
  width: 340px;
}
.article-summary .card {
  height: 1fr;
}

.article-summary:focus {
  outline: none;
}
