.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item,
.comment-form {
  border-radius: 0 1rem 0 1rem;
  background-color: var(--card-background);
  color: var(--card-paragraph);
  padding: 1rem;
  margin: 1rem;
  text-align: left;
}

.comment-item {
  display: grid;
  grid-template-areas:
    "author votes time"
    "body body body"
    "na na submit";
  grid-template-columns: minmax(100px, 170px) minmax(105px, 150px) minmax(
      150px,
      1fr
    );
}

.comment-author,
.comment-form-title {
  grid-area: author;
  color: var(--card-heading);
  margin: 0;
  margin-right: 1rem;
}

.comment-time {
  grid-area: time;
  text-align: right;
  text-wrap: balance;
  margin: 0;
}

.comment-body,
.comment-form-body {
  grid-area: body;
  text-indent: 2rem;
  margin: 1rem 0;
}

.comment-votes {
  grid-area: votes;
  text-align: center;
}

.comment-vote-button {
  color: var(--highlight);
  background-color: var(--background);
  font-weight: 1000;
  font-size: 1rem;
  padding: 0.5rem;
}

.vote-count {
  padding: 0.3rem;
  margin: 0.3rem;
  border: 1px solid color-mix(in srgb, var(--highlight) 50%, var(--temp2));
  border-radius: 0.4rem;
}

.comment-form {
  display: grid;
  grid-template-areas:
    "author time time"
    "body body body"
    "na na submit";
  grid-template-columns: 1fr 1.33fr 140px;
}

.comment-form-body {
  height: 4rem;
}

.form-button {
  position: relative;
  left: auto;
  right: 0;
  bottom: 0;
  grid-area: submit;
  display: block;
  background-color: var(--button);
}

.form-date {
  grid-area: time;
  text-align: right;
  margin: 0;
  text-wrap: balance;
}
