.pagination-button {
  margin: 0.5rem 1rem;
  padding: 1rem;
  border: var(--temp) 1px solid;
}

.button-disabled {
  background-color: color-mix(in srgb, var(--temp) 50%, var(--temp2) 50%);
  color: var(--temp);
}

.pagination-page_num {
  width: 2rem;
  height: 1.5rem;
  align-content: center;
}

.pagination-limit {
  width: 3rem;
  height: 2rem;
  align-content: center;
}

.pagination-container {
  border: var(--temp) 1px solid;
  border-radius: 1rem;
  display: inline-table;
  padding: 1rem;
}

.page-section {
  display: block;
}

.pagination-label {
  margin: 0 0 0.5rem 0;
}

.pagination-recap {
  margin: 0;
}
