.pagination-button {
  margin: 0 1rem;
  padding: 1rem;
}

.pagination-page_num {
  width: 2rem;
  height: 1.5rem;
  align-content: center;
}

.pagination-limit {
  width: 3rem;
  height: 2rem;
  align-content: center;
}

.pagination-container {
  border: white 1px solid;
  border-radius: 1rem;
  display: inline-table;
  padding: 1rem;
}

.page-section {
  display: block;
}

.pagination-label {
  margin: 0 0 0.5rem 0;
}
