header {
  background-color: var(--header-background);
  border-radius: 0 0 1rem 1rem;
  border: var(--temp) 3px solid;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  display: grid;
  grid-template-areas: "title  user" "nav nav";
  margin-bottom: 2rem;
  box-shadow: 5px 5px 20px
    color-mix(in srgb, var(--header-background) 80%, var(--highlight));
}

h1 {
  grid-area: title;
  text-align: left;
  margin: 1rem 0 0 1rem;
  width: min-content;
}

nav {
  grid-area: nav;
}

.current-user {
  grid-area: user;
  display: grid;
  grid-template-areas: "picture name";
  height: min-content;
}

.current-user-name {
  grid-area: name;
  font-size: 1rem;
}

.avatar-container {
  grid-area: picture;
  height: 100px;
  width: 100px;
}

.current-user-avatar {
  height: 100%;
  width: auto;
}
